@page "/"

@inherits SummaryCode
@using TeamApp.Interface.Blazor.Pages.Standings
@using TeamApp.Interface.Blazor.Pages.Playoffs
@using TeamApp.Interface.Blazor.Pages.Games
@using TeamApp.Services
@using TeamApp.ViewModels.Views
@using TeamApp.ViewModels.Views.Games
@using TeamApp.ViewModels.Views.Competition.Playoff


    <div class="grid-container">
        <div class="mainmenu grid-menu">
            <NewMenu />
        </div>
        <br />

        <div class="grid-header">
            <h1>Daily View</h1>
            <b>Current Year </b>@summary.CurrentYear
            <br />
            <b>Current Day</b>@summary.CurrentDay
            <br />

            <h3>Actions</h3>
            <BSButton Value="PlayDay" OnClick="PlayDay" IsActive=@ShowPlayDay()>Play Day</BSButton>
            <BSButton Value="StartNextYear" OnClick="StartNextYear" IsActive=@ShowStartNextYear()>Start Next Year</BSButton>
            <BSButton Value="StartNextCompetition" OnClick="StartNextCompetition" IsActive=@ShowStartNextCompetition()>Start Next Competition</BSButton>
        </div>
        <div class="grid-scores">            
            <ScheduleDaySummaryTabs @ref="DayTabs" FirstDay="@FirstDay" Year="@summary.CurrentYear" CurrentDay="@summary.CurrentDay" />          
        </div>
        <div class="grid-main">
            <BSTabGroup>
                <BSTabList IsPills="true" IsList="true">
                    <BSTab>
                        <BSTabLabel>Standings</BSTabLabel>
                        <BSTabContent>
                            <Standings model=@standings />
                        </BSTabContent>
                    </BSTab>
                    <BSTab>
                        <BSTabLabel>Playoffs</BSTabLabel>
                        <BSTabContent>
                            <Playoffs model=@playoffs />
                        </BSTabContent>
                    </BSTab>
                </BSTabList>
                <BSTabSelectedContent />
            </BSTabGroup>
        </div>
    </div>

