@page "/standings"

<h3>@model.StandingsName</h3>

<BSTable>
    <thead>
        <tr>
            <th scope="col">Div</th>
            <th scope="col">R</th>
            <th scope="col">Name</th>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">T</th>
            <th scope="col">Pts</th>
            <th scope="col">GP</th>
            <th scope="col">GF</th>
            <th scope="col">GA</th>
            <th scope="col">GD</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in model.Teams)
        {
        <tr>
            <td>@row.Division</td>
            <td>@row.Rank</td>
            <td>@row.TeamName</td>
            <td>@row.Wins</td>
            <td>@row.Loses</td>
            <td>@row.Ties</td>
            <td>@row.Points</td>
            <td>@row.GamesPlayed</td>
            <td>@row.GoalsFor</td>
            <td>@row.GoalsAgainst</td>
            <td>@row.GoalDifference</td>

        </tr>
            
        }
    </tbody>
</BSTable>    


@code {    

    [Parameter]
    public StandingsViewModel model { get; set; }

}
