@page "/schedule"
@inherits ScheduleDaySummaryBase
@using TeamApp.ViewModels.Views.Games

    <BSTable IsSmall="true" IsStriped="true">
        
        <table>
            <thead>
                <tr>
                    <th colspan="5">Day: @Day.Day</th>
                </tr>
            </thead>
            <tr>
                <th>Home</th>
                <th></th>
                <th></th>
                <th></th>
                <th>Away</th>
            </tr>
            @foreach (var game in Day.Games)
            {
                <tr>
                    <td>@game.HomeTeamName</td>
                    <td>@game.HomeScore</td>
                    <td>-</td>
                    <td>@game.AwayScore</td>
                    <td>@game.AwayTeamName</td>
                </tr>
            }

        </table>
    </BSTable>    

