@page "/playoffs"

@using TeamApp.ViewModels.Views.Competition.Playoff;

@if (model != null)
{
    <div class="playoff">
        @foreach (var round in model.Rounds)
        {
            <div class="round">
                <div class="roundName">@round.Name</div>
                @foreach (var series in round.Series)
                {
                    <div class="matchup">
                        <div class="teamScore">
                            <div class="team">@series.HomeTeamName</div>
                            <div class="score">@series.HomeWins</div>
                        </div>
                        <div class="teamScore">
                            <div class="team">@series.AwayTeamName</div>
                            <div class="score">@series.AwayWins</div>
                        </div>
                    </div>
                }
            </div>
        }

    </div> 
}
@code {
    [Parameter]
    public PlayoffSummaryViewModel model { get; set; }

}
